.home-view {
  .hero {
    background: transparent url("/images/HomeView/HeaderBackground.png")
      center/cover no-repeat;
    .container {
      padding: 50px 15px;
      min-height: 72vh;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 30px;
      @media (min-width: 1024px) {
        flex-direction: row;
      }
      h2 {
        font: var(--h1);
      }

      .company-introduction {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 30px;
        p,
        span {
          color: var(--bg-white-1);
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
        }
        a {
          background-color: rgba($color: #fafafa, $alpha: 0.2);
          border-radius: 100px;
          box-shadow: 0 5px 7px 1px rgb(0, 0, 0, 0.08);
          padding: 12px 50px;
        }
      }
      .init-project-dropdown {
        background-color: var(--white);
        border-radius: 100px;
        padding-left: 30px;
        display: none;
        @media (min-width: 810px) {
          display: flex;
        }

        a {
          @include GradientBackground(120deg, var(--gred-from), var(--gred-to));
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: none;
          font: var(--h1);
          margin-left: 15px;
          letter-spacing: 1px;
          width: 100%;
          max-width: 200px;
        }

        select {
          width: 230px;
          height: 56px;
          border: 0;
          background-color: transparent;
          padding: 0 10px;
          outline: 0;
        }
      }
      .scroll-notation {
        position: absolute;
        bottom: 50px;
        right: 0;
        rotate: -90deg;
        color: var(--white-2);
        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          right: 0;
          height: 2px;
          width: 100%;
          background-color: var(--white-2);
        }
      }
      .intoruction-img {
        width: 100%;
        max-width: 380px;
        min-width: 120px;
      }
    }
  }
  .subhero {
    display: grid;
    grid-template-columns: repeat(1, minmax(180px, 1fr));
    gap: 30px;
    align-items: center;
    justify-content: center;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(180px, 1fr));
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(6, minmax(180px, 1fr));
    }

    .subhero-item {
      display: grid;
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: 500;
        color: var(--text);
        line-height: 33px;
      }

      p {
        color: var(--white-3);
        font-weight: 300;
      }
    }
  }

  // Services
  .services {
    background-color: var(--bg-white-1);

    .container {
      .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(277.5px, 1fr));
        gap: 30px;

        .service-item {
          width: 100%;
          text-align: center;
          border: 1px solid rgba($color: #000, $alpha: 0.05);
          padding: 30px 15px;
          border-radius: var(--rd-sm);
          transition: all 0.25s;

          &:hover {
            background-color: var(--white);
            border-color: #fafafa;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          }

          h3 {
            margin: 25px 0 10px;
            font-size: 16px;
            font-weight: 500;
            color: var(--text);
            line-height: 33px;
          }

          p {
            color: var(--white-3);
            font-weight: 300;
          }
        }
      }
    }
  }

  .latest-projects {
    .projects-container {
      .project-item {
        position: relative;
        border-radius: var(--rd-sm);
        display: flex;
        margin: 0 15px;
        width: 100%;

        &:first-child {
          margin: 0 15px 0 0;
        }

        img {
          width: 100%;
        }

        .project-item-overlay {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 15px;
          opacity: 0;
          transition: all 0.65s;

          &:hover {
            @include GradientBackground(
              180deg,
              rgba($color: #fafafa, $alpha: 0),
              rgba($color: #000, $alpha: 0.7)
            );
            opacity: 1;

            .project-item-description {
              transform: translateY(0);
            }

            a {
              transform: translateY(0);
            }
          }

          a {
            transform: translateY(50%);
            transition: transform 0.45s;
            color: var(--white);
            font-weight: 500;
            font-size: 16px;
          }

          .project-item-description {
            display: flex;
            justify-content: space-between;
            color: var(--white-2);
            transform: translateY(50%);
            transition: transform 0.45s;
            p,
            span {
              font-weight: 300;
            }
          }
        }

        @media (min-width: 576px) {
          & {
            width: initial;
          }
        }
      }
    }
  }

  .our-team {
    background-color: var(--bg-white-1);
    .our-team-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;

      .team-member {
        text-align: center;
        position: relative;
        border-radius: 500px;
        overflow: hidden;

        img {
          width: 100%;
        }

        .team-member-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba($color: #000, $alpha: 0.5);
          opacity: 0;
          transition: opacity 0.25s;

          &:hover {
            opacity: 1;
          }

          h3 {
            font-size: 18px;
            font-weight: 500;
            color: var(--white);
            line-height: 27px;
          }

          p {
            color: var(--text-white);
            font-weight: 300;
          }
        }
      }
    }
  }

  .clients-feedback {
    background: transparent
      url("/images/HomeView/ClientsFeedback/Background.png");

    .clients-feedback-overlay {
      background-color: rgba($color: #000, $alpha: 0.75);

      .comments-container {
        .comment-item {
          background-color: var(--white);
          padding: 25px;
          border-radius: var(--rd-sm);
          max-width: 420px;
          width: 100%;
          margin: 15px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          overflow: hidden;

          .comment-header {
            display: flex;
            gap: 15px;
            align-items: center;

            .comment-title {
              display: grid;

              .comment-author {
                display: flex;
                align-items: center;

                h4 {
                  color: var(--text);
                  font-weight: 500;
                }

                span {
                  width: 6px;
                  height: 6px;
                  border-radius: 10px;
                  background-color: var(--text-light);
                  margin: 0 7px;
                }

                p {
                  color: var(--text-light);
                }
              }
            }
          }

          .comment-text {
            margin: 15px 0;
          }

          .badge {
            display: inline-block;
            padding: 5px 20px;
            border-radius: var(--rd-sm);
            margin-top: auto;

            span {
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              text-transform: capitalize;
            }

            &.badge-welldone {
              background-color: rgba($color: #008000, $alpha: 0.15);

              span {
                color: #008000;
              }
            }

            &.badge-fine {
              background-color: rgba($color: #ffa500, $alpha: 0.15);

              span {
                color: #ffa500;
              }
            }

            &.badge-great {
              @include GradientBackground(
                120deg,
                rgba($color: #8330ff, $alpha: 0.15),
                rgba($color: #00e3ab, $alpha: 0.15)
              );

              span {
                @include GradientText(120deg, #8330ff, #00e3ab);
              }
            }
          }

          .rating {
            position: absolute;
            width: 220px;
            height: 220px;
            top: -150px;
            right: -150px;
            z-index: 1000;
            border-radius: 300px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 30px;
            @include GradientBackground(
              120deg,
              var(--primary),
              var(--secondary)
            );

            span {
              font-weight: 600;
              font-size: 22px;
              line-height: 36px;
              color: var(--white);
            }
          }
        }
      }
    }
  }

  .faqs {
    background-color: var(--bg-white-1);
    padding: 100px 0;

    .faqs-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      gap: 30px;

      .faq-item {
        text-decoration: none;
        display: grid;
        gap: 25px;
        padding: 30px 0;
        text-align: center;
        background-color: var(--white);
        border-radius: var(--rd-sm);
        max-width: 380px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

        img {
          width: 64px;
          aspect-ratio: 1 / 1;
          margin: 0 auto;
        }

        p {
          color: var(--white-4);
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }

    .chat-and-faq-date {
      margin-top: 30px;
      display: grid;
      grid-template-areas:
        "faqChat"
        "faqDate";
      gap: 30px;
    }

    .faq-chat,
    .last-faq-date > div {
      background-color: var(--white);
      border-radius: var(--rd-sm);
      padding: 30px 23.5px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }

    .faq-chat {
      display: flex;
      flex-direction: column;
      grid-area: faqChat;

      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: var(--text);
      }

      p {
        font-size: 14px;
        line-height: 21px;
        color: var(--white-3);
      }

      a {
        text-decoration: none;
        font-weight: 600;
        color: var(--white);
        @include GradientBackground(
          120deg,
          rgba($color: #8330ff, $alpha: 0.7),
          rgba($color: #00e3ab, $alpha: 0.7)
        );
        padding: 10px 30px;
        display: block;
        border-radius: 100px;
        margin: 15px 0 0 0;
        text-align: center;
      }
    }

    @media (min-width: 480px) {
      .last-faq-date {
        display: flex !important;
      }
    }
    @media (min-width: 680px) {
      .faq-chat {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        a {
          margin: 0;
        }
      }
    }
    @media (min-width: 1024px) {
      .chat-and-faq-date {
        grid-template-areas: "faqChat faqChat faqChat faqDate";
      }
    }

    .last-faq-date {
      display: grid;
      gap: 30px;
      grid-area: faqDate;

      div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      h4 {
        color: var(--text);
        font-weight: 500;
      }

      p {
        font-size: 14px;
        line-height: 21px;
        color: var(--white-3);
      }
    }
  }
}

.subhero,
.services,
.latest-projects,
.our-team,
.clients-feedback-overlay {
  padding: 100px 0;
}
