.dashboard-view {
  display: grid;
  grid-template-columns: 90px calc(100% - 130px);
  gap: 30px;
  @media (min-width: 768px) {
    & {
      grid-template-columns: 240px calc(100% - 280px);
    }
    .dashboard-navbar ul li a span {
      display: flex !important;
    }
  }
  .dashboard-navbar {
    @include GradientBackground(
      120deg,
      rgba($color: #8330ff, $alpha: 0.07),
      rgba($color: #00e3ab, $alpha: 0.07)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;

    h1 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: var(--text);
      margin: 30px 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: calc(100vh - 60px);

      li {
        list-style-type: none;
        padding: 10px 0;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        &:last-child {
          margin-top: auto;
        }

        a {
          padding: 15px 15px 15px 30px;
          margin-left: 15px;
          border-radius: 50px 0 0 50px;
          display: flex;
          color: var(--text);
          text-decoration: none;
          width: 100%;
          align-items: center;
          gap: 10px;
          justify-content: flex-start;

          span {
            display: none;
            text-transform: capitalize;
            color: var(--white-4);
          }

          svg {
            margin-left: -15px;
          }

          &.router-link-active {
            @include GradientBackground(
              120deg,
              rgba($color: #8330ff, $alpha: 0.7),
              rgba($color: #00e3ab, $alpha: 0.7)
            );

            svg path {
              fill: var(--white);
            }

            span {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}
.dashboard-view-inner {
  padding-top: 30px;
  color: var(--text);
}
h2.dashboard-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.dashbaord-subtitle {
  color: var(--white-3);
  margin-bottom: 30px;
}

.card {
  border: 1px solid #e2e2e2;
  border-radius: var(--rd-sm);
  padding: 15px;
}
.dashboard-overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: 1200px) {
    & {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(10, 1fr);
    }
  }
}

@media (min-width: 1200px) {
  .auth-level {
    grid-area: 1 / 1 / 5 / 2;
  }
  .project-progress {
    grid-area: 1 / 2 / 5 / 3;
  }

  .time-passed {
    grid-area: 1 / 3 / 3 / 4;
  }
  .time-remaining {
    grid-area: 3 / 3 / 5 / 4;
  }
  .cost {
    grid-area: 9 / 3 / 11 / 4;
  }
  .today-tasks {
    grid-area: 5 / 3 / 9 / 4;
  }

  .recent-messages-mobile {
    grid-area: 5 / 1 / 11 / 3;
  }
}
.dashboard-overview-container {
  display: flex;
  flex-direction: column;

  .auth-level,
  .project-progress,
  .today-tasks,
  .recent-messages-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #e2e2e2;
    border-radius: var(--rd-sm);
    padding: 15px;
    gap: 15px;

    h4 {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;

      &.auth-level-txt {
        margin: 0 auto;
      }
    }

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .auth-progress {
      flex-direction: column;

      progress {
        margin-bottom: 5px;
        width: 100%;
        appearance: none;
        -webkit-appearance: none;
        height: 5px;
        border-radius: var(--rd-rounded);
        overflow: hidden;

        &::-webkit-progress-bar {
          box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
          background-color: var(--white);
        }

        &::-webkit-progress-value {
          @include GradientBackground(120deg, var(--primary), var(--secondary));
        }
      }

      .progress-subtitle {
        color: var(--white-3);

        span {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }

    .dashboard-item-title {
      margin-top: auto;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      h3 {
        font-weight: 600;
        color: var(--text);
      }

      p {
        color: var(--white-3);
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .project-progress {
    h4 {
      font-size: 18px;
      line-height: 27px;
    }

    ul {
      list-style: inside;
      color: var(--white-3);

      li span {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  div.time-passed,
  div.time-remaining,
  div.cost {
    border: 1px solid #e2e2e2;
    padding: 15px;
    border-radius: var(--rd-sm);
    display: flex;
    justify-content: space-between;
    h4 {
      font-size: 16px;
      line-height: 24px;
      margin-top: 18px;
      font-weight: 600;
    }

    span {
      font-size: 14px;
      line-height: 21px;
      color: var(--white-3);
    }
  }
  .today-tasks {
    h4 {
      display: flex;
      gap: 15px;
      align-items: center;

      span {
        color: var(--secondary);
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
      }
    }

    ul {
      list-style: inside;
      display: grid;
      gap: 7px;

      li {
        color: var(--white-3);
        position: relative;
        font-size: 14px;
        line-height: 21px;

        &:not(:first-child) {
          &::after {
            content: "";
            position: absolute;
            top: calc(-50% - 8px);
            left: 2px;
            width: 1px;
            height: calc(100% + 7px);
            background-color: var(--white-3);
          }
        }
      }
    }
  }
  .recent-messages-mobile {
    padding: 0;

    .dashboard-item-title {
      margin-top: auto;
      padding: 15px;
    }

    .recent-messages-inner {
      display: flex;
      padding: 15px;
      flex-direction: column;
      overflow-y: auto;
      max-height: 200px;
      gap: 15px;

      .recent-message-item {
        display: flex;
        gap: 15px;
        text-decoration: none;

        .recent-message-item-description {
          display: flex;
          flex-direction: column;

          h4 {
            font-size: 14px;
            line-height: 21px;
            color: var(--text);
          }

          span {
            font-size: 14px;
            line-height: 21px;
            color: var(--white-3);
          }
        }

        img {
          width: 42px;
          height: 42px;
        }

        .recent-message-item-subtitle {
          p {
            font-size: 12px;
            line-height: 18px;
            color: var(--white-3);
          }
        }
      }
    }
  }
}

.dashboard-projects-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &.dashboard-projects-view {
    gap: 30px;
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 15px 0;
    h4 {
      margin-top: 10px;
      color: var(--text);
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
    }
    p {
      font-weight: 400;
      color: var(--white-3);
    }
  }
  .dashboard-project-item {
    border: 1px solid #e2e2e2;
    border-radius: var(--rd-sm);
    display: grid;
    gap: 15px;

    .dashboard-project-item-description {
      color: var(--white-3);
      font-size: 14px;
      line-height: 21px;
      padding: 10px 0;
    }
    .dashboard-project-item-footer {
      p,
      span {
        font-size: 14px;
        line-height: 21px;
      }
      p {
        color: var(--white-3);
      }
      span {
        font-weight: 500;
        color: var(--text);
      }
    }
  }
  &.GridView {
    .dashboard-project-item-description {
      padding: 0 15px 15px 15px;
    }
    .dashboard-project-item-footer {
      border-top: 1px solid #e2e2e2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      div {
        padding: 15px 0;
      }
      .dashboard-project-item-startdate {
        border-right: 1px solid #e2e2e2;
      }
    }
    @media (min-width: 960px) {
      grid-template-columns: repeat(2, minmax(277px, 1fr));
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, minmax(277px, 1fr));
    }
  }
  &.ListView {
    grid-template-columns: repeat(1, 1fr);
    .dashboard-project-item {
      grid-template-columns: 1fr 7fr 1fr;

      .dashboard-project-item-footer {
        border-left: 1px solid #e2e2e2;
        display: grid;
        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          height: 100%;
          padding: 15px;
        }
        .dashboard-project-item-startdate {
          border-bottom: 1px solid #e2e2e2;
        }
      }
    }
  }

  .input-group-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 30px;
    input {
      height: 45px;
      border-radius: var(--rd-sm);
    }
    .projects-list-style {
      display: flex;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        padding: 3px 7px;
        cursor: pointer;
        &:first-child {
          border-radius: 4px 0 0 4px;
          @include GradientBackground(
            120deg,
            rgba($color: #00e3ab, $alpha: 0.2),
            rgba($color: #8330ff, $alpha: 0.2)
          );
          &.active {
            @include GradientBackground(
              120deg,
              rgba($color: #00e3ab, $alpha: 0.5),
              rgba($color: #8330ff, $alpha: 0.5)
            );
          }
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
          @include GradientBackground(
            120deg,
            rgba($color: #8330ff, $alpha: 0.2),
            rgba($color: #00e3ab, $alpha: 0.2)
          );
          &.active {
            @include GradientBackground(
              120deg,
              rgba($color: #8330ff, $alpha: 0.5),
              rgba($color: #00e3ab, $alpha: 0.5)
            );
          }
        }
      }
    }
  }

  .add-new-project-btn {
    background-color: transparent;
    border: 2px dashed #e2e2e2;
    padding: 30px;
    border-radius: var(--rd-sm);
    cursor: pointer;
    height: 100%;
    p {
      font-weight: 500;
      color: var(--white-3);
    }
  }
}

.dashboard-settings-container {
  display: grid;
  align-items: start;
  gap: 50px;
  h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
  }
  .header-divider {
    border: 1px solid var(--bg-white-2);
    border-radius: 10px;
    margin: 15px 0;
  }
  .settings-subsections {
    display: grid;
    gap: 30px;
    .settings-subsection {
      display: grid;
      gap: 15px;

      @media (width>1200px) {
        grid-template-columns: 1fr 1.25fr;
        align-items: start;
      }
      .settings_subsection-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }

      .settings_subsection-subtitle {
        color: var(--white-3);
      }

      .profile-photo-placeholder {
        width: 72px;
        aspect-ratio: 1 / 1;
      }
    }

    .profile-photo-file-input {
      position: relative;
      border: 2px dashed var(--white-1);
      border-radius: var(--rd-sm);

      img,
      p {
        position: absolute;
        top: 15px;
        right: 50%;
        transform: translateX(50%);
        pointer-events: none;
      }
      p {
        text-align: center;
        top: initial;
        bottom: 15px;
        width: 100%;
        padding: 0 30px;
        color: var(--white-3);
        span {
          font-weight: 600;
        }
      }
    }
  }
  .settings-notifications {
    .settings-subsection {
      p {
        color: var(--white-3);
      }
    }
  }
}

input[type="text"],
input[type="Email"],
textarea,
select {
  width: 100%;
  height: 45px;
  border: 1px solid var(--white-2);
  border-radius: var(--rd-sm);
  // min-height: 40px;
  padding: 0 10px;
  outline: none;

  &::placeholder {
    transition: padding 0.15s;
    color: var(--white-2);
  }
  &:focus {
    box-shadow: inset 0 0 5px rgba(169, 169, 169, 0.7);

    &::placeholder {
      padding-left: 7px;
    }
  }
}

textarea {
  padding: 15px;
  min-height: 150px;
  resize: vertical;
}

input[type="file"] {
  width: 100%;
  min-height: 120px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @media (width>960px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.row-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.badge {
  padding: 5px 15px;
  border-radius: var(--rd-md);
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  &.badge-verified {
    background-color: rgba($color: #00cc99, $alpha: 0.07);
    color: rgba($color: #00cc99, $alpha: 0.75);
  }
  &.badge-disabled {
    background-color: rgba($color: #ed4c5c, $alpha: 0.07);
    color: rgba($color: #ed4c5c, $alpha: 0.75);
  }
  &.badge-gray {
    background-color: rgba($color: #a9a9a9, $alpha: 0.07);
    color: var(--white-3);
  }
}

.add-email-address-btn {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: rgba($color: #a9a9a9, $alpha: 0.07);
  color: var(--white-3);
  border: 0;
  gap: 7px;
  &:hover {
    background-color: rgba($color: #a9a9a9, $alpha: 0.15);
  }
}

.settings-status {
  padding: 5px 15px;
  background-color: rgba($color: #a9a9a9, $alpha: 0.07);
  color: var(--white-3);
  & + button {
    border: 1px solid var(--white-2);
    background-color: transparent;
    font-weight: 500;
  }
}

button {
  padding: 7px 15px;
  cursor: pointer;
  border-radius: var(--rd-md);
}

.settings-input {
  position: relative;
}

// Switch.vue
.switch-container {
  position: relative;
  height: 26px;
  width: 60px;
  margin-left: auto;
  input[type="checkbox"] {
    cursor: pointer;
    height: 26px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(169, 169, 169, 0.25);
    border: 0;
    overflow: hidden;
    &:checked {
      & + .switch-thumb {
        left: 40px;
      }
      &::after {
        left: 0;
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      @include GradientBackground(
        120deg,
        rgba($color: #8330ff, $alpha: 0.7),
        rgba($color: #00e3ab, $alpha: 0.7)
      );
      border-radius: var(--rd-rounded);
      left: -100%;

      transition: left 0.25s;
    }
  }
  .switch-thumb {
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    position: absolute;
    pointer-events: none;
    background: #fafafa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 100px;
    transition: inset 0.25s;
  }
}

.dashboard-track-progress-view {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "ProgressViewHeader"
    "ProgressViewProgresses"
    "ProgressViewDeadlines"
    "ProgressViewVersionControl";
  @media (width>1200px) {
    grid-template-areas:
      "ProgressViewHeader ProgressViewHeader ProgressViewHeader"
      "ProgressViewProgresses ProgressViewProgresses ProgressViewDeadlines"
      "ProgressViewVersionControl ProgressViewVersionControl ProgressViewVersionControl";
  }
  .track-progress-header {
    grid-area: ProgressViewHeader;
    display: flex;
    gap: 15px;
    img {
      max-width: 48px;
    }
    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
    span {
      color: var(--white-3);
    }
  }

  .track_progress-progress {
    grid-area: ProgressViewProgresses;

    display: grid;
    gap: 30px;
    .track_progress-progresses {
      // TODO:
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(97px, 1fr));
      gap: 30px;
      .vue-circle-progress {
        display: grid;
        justify-content: center;
        .svg-wrapper {
          margin: 0 auto;
          rotate: -90deg;
        }
        .current-percent {
          position: absolute;
          top: 48px;
          left: 50%;
          translate: -50% -50%;
        }
        .circular_progress-percentage {
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
          vertical-align: baseline;
          span {
            font-size: 12px;
            line-height: 18px;
          }
        }
      }
      .circular_progress-subtitle {
        text-align: center;
        .circular_progress-title {
          text-align: center;
          margin: 15px 0 5px 0;
          font-weight: 500;
        }
        .circular_progress-status_badge {
          padding: 7px 25px;
          border-radius: 50px;
          display: block;
        }
      }
    }
  }
  .track_progress-deadlines {
    grid-area: ProgressViewDeadlines;

    h1 {
      font-weight: 600;
    }
    display: grid;
    gap: 15px;
    .deadline-item {
      display: grid;
      gap: 5px;
      progress {
        border-radius: 50px;
        overflow: hidden;

        &.progress-red {
          &::-webkit-progress-value {
            background-color: rgba($color: #ed4c5c, $alpha: 0.75);
          }
          &::-webkit-progress-bar {
            background-color: rgba($color: #ed4c5c, $alpha: 0.15);
          }
        }
        &.progress-yellow {
          &::-webkit-progress-value {
            background-color: rgba($color: #edc800, $alpha: 0.75);
          }
          &::-webkit-progress-bar {
            background-color: rgba($color: #edc800, $alpha: 0.15);
          }
        }
        &.progress-purple {
          &::-webkit-progress-value {
            background-color: rgba($color: #6600ff, $alpha: 0.75);
          }
          &::-webkit-progress-bar {
            background-color: rgba($color: #6600ff, $alpha: 0.15);
          }
        }
        &.progress-green {
          &::-webkit-progress-value {
            background-color: rgba($color: #00cc99, $alpha: 0.75);
          }
          &::-webkit-progress-bar {
            background-color: rgba($color: #00cc99, $alpha: 0.15);
          }
        }
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
          font-weight: 500;
        }
        span {
          color: var(--white-3);
          font-weight: 500;
        }
      }

      progress {
        width: 100%;
        height: 2px;
      }
    }
  }

  .track_progress-version_control {
    grid-area: ProgressViewVersionControl;
    display: grid;
    gap: 30px;
    .track_progress-version_control_inner {
      border-left: 1px solid var(--white-2);
    }
    .group-title {
      font-weight: 500;
      margin: 0 0 30px 20px;
      display: inline-block;
      @include GradientText(120deg, var(--primary), var(--secondary));
      position: relative;
      &::after {
        content: "";
        width: 14px;
        height: 14px;
        background-color: var(--white);
        position: absolute;
        top: 2px;
        left: -27px;
        transform: rotateZ(45deg);
      }

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        @include GradientBackground(120deg, var(--primary), var(--secondary));
        position: absolute;
        top: 0;
        left: -29px;
        transform: rotateZ(45deg);
      }
    }
    ul {
      transform: translateX(-10px);
      list-style-type: none;
      display: grid;
      gap: 15px;
      li {
        .version_control-container {
          display: flex;
          align-items: start;
          // display: grid;
          // align-items: center;
          .version_control-inner {
            // display: flex;
            // align-items: center;
            // gap: 10px;
            display: grid;
            // grid-template-columns: 1fr;
            // grid-template-rows: repeat(3, 1fr);
            // grid-column-gap: 0px;
            gap: 15px;
          }
          img.commit-creator-img {
            width: 100%;
            max-width: 180px;
            margin: 0 auto;
          }

          p {
            font-weight: 500;
          }
          span {
            color: var(--white-3);
          }
          .version_control-date {
            font-size: 12px;
            line-height: 18px;
            margin-left: 5px;
          }
        }

        @media (width>640px) {
          .version_control-container {
            display: flex;
            align-items: center;
            gap: 30px;
            .version_control-inner {
              display: flex;
              align-items: center;
              gap: 15px;
              .commit-creator-img {
                width: initial;
              }
            }
          }
        }
      }
    }
  }
}
h1 {
  font-weight: 600;
}
