.faq-view {
  .search-input-container {
    position: relative;
    max-width: 800px;
    display: flex;
    margin: 75px auto;

    input {
      width: 100%;
      height: 50px;
      border-radius: var(--rd-rounded);
      border: 0;
      background-color: var(--bg-white-1);
      outline: 0;
      padding: 0 30px;
      color: var(--text);

      &::placeholder {
        font-size: 14px;
        line-height: 21px;
        color: var(--white-3);
        transition: all 0.15s;
      }

      &:focus {
        box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);

        &::placeholder {
          padding-left: 7px;
        }
      }
    }

    img {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      border: 0;
      padding: 5px;
    }
  }

  .faq-items-list {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
      gap: 30px;

      li {
        list-style: none;

        button {
          padding: 30px 0;
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: var(--rd-sm);
          background-color: transparent;
          border: 1px solid #e9e9e9;
          transition: all 0.25s;
          cursor: pointer;
          gap: 25px;

          span {
            font-size: 14px;
            line-height: 21px;
            color: var(--text-midlight);
          }

          &:not(.currently-active):hover {
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
            border-color: var(--white);
          }

          &.currently-active {
            @include GradientBackground(
              120deg,
              rgba($color: #8330ff, $alpha: 0.07),
              rgba($color: #00e3ab, $alpha: 0.07)
            );
            border: 0;

            span {
              @include GradientText(120deg, var(--primary), var(--secondary));
            }
          }
        }
      }
    }
  }
}

.faq-breadcrumb {
  padding: 15px 0;
  border-bottom: 1px solid var(--white-2);
  margin-top: 75px;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--white-3);

    span {
      font-weight: 400;
      font-size: 14px;
      color: var(--text);
    }
  }
}

.questions-container {
  background-color: var(--bg-white-1);
  max-width: none;

  ul {
    list-style-type: none;
    display: grid;
    li {
      &:has(details[open]) {
        background-color: var(--white);
      }

      .container {
        position: relative;
        //padding: 15px 35px 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      details {
        & ~ .circle-minus-icon {
          display: none;
        }

        &[open] {
          & + .circle-plus-icon {
            display: none;
          }

          & ~ .circle-minus-icon {
            display: inline;
          }
        }

        summary {
          list-style: none;
          color: var(--text);
          cursor: pointer;

          &::-webkit-details-marker {
            display: none;
          }
        }
      }

      img {
        height: 24px;
      }
    }
  }
}
