@import "Variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 14px "Poppins", "sans-serif";
  line-height: 21px;
  color: var(--text);
}

body {
  background-color: var(--white);
}

.container {
  max-width: 1200px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 1200px) {
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: var(--white);
}

.section-title {
  letter-spacing: 1px;
  position: relative;
  padding-left: 55px;
  color: var(--text);
  font: var(--h1);

  &.light {
    color: var(--white);

    &::after {
      background-color: var(--white);
    }
  }

  &.light-1 {
    color: var(--white-2);

    &::after {
      background-color: var(--white-2);
    }
  }

  &.light-2 {
    color: var(--white-3);
    margin-bottom: 25px;

    &::after {
      background-color: var(--white-3);
    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: var(--white);
    top: 51%;
    left: 0;
    transform: translateY(-50%);
  }
}

// titles
.faq-view,
.contacts-view,
.abouts-view,
.careers-view {
  padding-top: 125px;

  .faq-header,
  .contacts-header,
  .abouts-header,
  .careers-header {
    text-align: center;
  }

  h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    @include GradientText(120deg, var(--primary), var(--secondary));
  }

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: var(--text);
  }

  p {
    color: var(--white-3);
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
  }

  @media (min-width: 768px) {
    & {
      padding-top: 190px;
    }
    h1 {
      font-size: 16px;
      line-height: 24px;
    }
    h2 {
      font-size: 28px;
      line-height: 42px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.section-title {
  font: var(--h1);
  line-height: 24px;
  letter-spacing: 1px;
  position: relative;
  color: var(--text);
  padding-left: 55px;

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: var(--white);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: var(--rd-rounded);
  pointer-events: none;
  appearance: none;

  &:checked {
    @include GradientBackground(
      120deg,
      rgba($color: #8330ff, $alpha: 0.7),
      rgba($color: #00e3ab, $alpha: 0.7)
    );
    border: 0;

    &:after {
      content: url("/images/ContactsView/Form/Check.svg");
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #d9d9d9;
  border-radius: var(--rd-rounded);
  pointer-events: none;
  appearance: none;

  &:checked {
    @include GradientBackground(
      120deg,
      rgba($color: #8330ff, $alpha: 0.7),
      rgba($color: #00e3ab, $alpha: 0.7)
    );
    border: 0;

    &:after {
      content: url("/images/ContactsView/Form/Check.svg");
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.input-group {
  position: relative;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  input[type="text"] {
    padding-left: 55px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    line-height: 21px;
    outline: 0;

    &::placeholder {
      color: var(--white-3);
      transition: padding 0.15s;
    }

    &:focus {
      box-shadow: inset 0 0 5px rgba(169, 169, 169, 0.7);

      &::placeholder {
        padding-left: 10px;
      }
    }
  }
}

.vl {
  height: 60px;
  width: 1px;
  background-color: var(--light-white);
  margin: 0 15px;
}

// Imports
@import "by routes/Home";
@import "by routes/Navbar";
@import "by routes/AboutUs";
@import "by routes/ContactUs";
@import "by routes/FAQs";
@import "by routes/Careers";
@import "by routes/Authentications";
@import "by routes/Dashboard";
