// MIXINs
@mixin GradientBackground($deg, $from, $to) {
  background: linear-gradient($deg, $from, $to);
}

@mixin GradientText($deg, $from, $to) {
  background: -webkit-linear-gradient($deg, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --white: #fafafa;
  --white-1: #e2e2e2;
  --white-2: #d9d9d9;
  --white-3: #a9a9a9;

  --bg-white-1: #f1f1f1;

  --h1: 600 16px "Poppins";
  --p-bold: 500 16px "Poppins";
  --gred-from: #00a3ff;
  --gred-to: #00c0cc;

  --rd-sm: 4px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 400 14px "Poppins", "sans-serif";
  line-height: 21px;
}

body {
  background-color: var(--white);
}
.container {
  max-width: 1200px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 1200px) {
    padding: 0;
  }
}
.home-view {
  .hero {
    background: transparent url("/images/HomeView/HeaderBackground.png")
      center/cover no-repeat;
    .container {
      padding: 50px 15px;
      min-height: 101vh;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 50px;
      @media (min-width: 1024px) {
        flex-direction: row;
      }
      h2 {
        font: var(--h1);
      }

      .company-introduction {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 25px;
        p {
          color: var(--white-2);
          font: var(--p-bold);
        }
        span {
          font: var(--p-bold);
          color: var(--white);
        }
        a {
          background-color: rgba($color: #fafafa, $alpha: 0.2);
          border-radius: 100px;
          box-shadow: 0 5px 7px 1px rgb(0, 0, 0, 0.08);
          padding: 12px 50px;
        }
      }
      .init-project-dropdown {
        background-color: var(--white);
        border-radius: 100px;
        padding-left: 30px;
        display: none;
        @media (min-width: 810px) {
          display: flex;
        }

        a {
          @include GradientBackground(120deg, var(--gred-from), var(--gred-to));
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: none;
          font: var(--h1);
          margin-left: 15px;
          letter-spacing: 1px;
          width: 100%;
          max-width: 200px;
        }

        select {
          width: 230px;
          height: 60px;
          border: 0;
          background-color: transparent;
          padding: 0 10px;
          outline: 0;
        }
      }
      .scroll-notation {
        position: absolute;
        bottom: 50px;
        right: 0;
        rotate: -90deg;
        color: var(--white-2);
        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          right: 0;
          height: 2px;
          width: 100%;
          background-color: var(--white-2);
        }
      }
      .intoruction-img {
        width: 100%;
        max-width: 480px;
        min-width: 120px;
      }
    }
  }
  .subhero {
    padding: 75px 0;
    display: grid;
    grid-template-columns: repeat(1, minmax(180px, 1fr));
    gap: 30px;
    align-items: center;
    justify-content: center;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(180px, 1fr));
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(6, minmax(180px, 1fr));
    }

    .subhero-item {
      display: grid;
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: 500;
        color: var(--text);
        line-height: 33px;
      }

      p {
        color: var(--white-3);
        font-weight: 300;
      }
    }
  }

  // Services
  .services {
    background-color: var(--bg-white-1);
    padding: 100px 0;
    .container {
      .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(277.5px, 1fr));
        gap: 30px;

        .service-item {
          width: 100%;
          text-align: center;
          border: 1px solid rgba($color: #000, $alpha: 0.05);
          padding: 30px 15px;
          border-radius: var(--rd-sm);
          transition: all 0.25s;

          &:hover {
            background-color: var(--white);
            border-color: #fafafa;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
          }

          h3 {
            margin: 25px 0 10px;
            font-size: 16px;
            font-weight: 500;
            color: var(--text);
            line-height: 33px;
          }

          p {
            color: var(--white-3);
            font-weight: 300;
          }
        }
      }
    }
  }
}

// globals
a {
  text-decoration: none;
  color: var(--white);
  padding: 12px 25px;
}

.section-title {
  letter-spacing: 1px;
  position: relative;
  padding-left: 55px;
  color: var(--text);
  font: var(--h1);
  &.light {
    color: var(--white);
    &::after {
      background-color: var(--white);
    }
  }
  &.light-1 {
    color: var(--white-2);
    &::after {
      background-color: var(--white-2);
    }
  }
  &.light-2 {
    color: var(--white-3);
    margin-bottom: 25px;
    &::after {
      background-color: var(--white-3);
    }
  }
  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: var(--white);
    top: 51%;
    left: 0;
    transform: translateY(-50%);
  }
}
